/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

header {
    text-align: center;
    margin-bottom: 40px;
}

a, button, input[type=submit]{
  cursor: pointer;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    margin: 50px 0 20px;
}

p {
  font-family: Arial;
  border-bottom: 1px solid lightgrey;
}

#addBook {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #8a2be2;
  color: white;
  padding: 12px 25px;
  border: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
}
#addBook:hover{
    background-color: #6d23b3;
}

form#addBookModal {
  display: grid;
  max-width: 400px;
  width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with 50% opacity */
  z-index: 1;
}

#popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #efefef;
  padding: 20px;
  border: 1px solid darkgrey;
  box-shadow: 10px 10px 50px #353535;
  border-radius: 10px;
  z-index: 2;
}

#close-popup {
  text-align: right;
  display: block;
}